// _navbar.scss

.navbar {
  ul {
    li {
      a {
        font-size: 18px;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
