// Ajuste titulos
@media (max-width: $break-md) {
  .nosotros-titulo {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  // Títulos "Ubícanos" y "Disponibles para ti"
  h3 {
    font-size: 20px !important;
  }

  // Títulos "Dirección", "Horario", "Teléfonos"
  h4 {
    font-size: 18px !important;
  }

  // Ajustes del mapa
  .map-iframe {
    height: 300px;
  }
}

// Ajustes específicos para tablets (768px a 991.98px)
@media (min-width: 768px) and (max-width: 991.98px) {
  .about .row {
    flex-direction: column;
  }

  .about .col-md-6.text-center {
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    img.img-fluid.rounded {
      max-width: 500px !important;
      height: auto !important;
    }
  }

  .about .col-md-6.pe-5 {
    width: 100% !important;
    padding: 0 1rem !important;
    text-align: justify;
  }

  .nosotros-titulo {
    font-size: 26px !important;
    text-align: center;
    font-weight: 600 !important;
  }

  .about p {
    font-size: 15px !important;
    line-height: 1.6 !important;
  }

  .contact h3 {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .contact h4 {
    font-size: 18px !important;
  }

  .contact p {
    font-size: 15px !important;
  }
}
