/* selector universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Listas sin estilos */
ul {
  list-style: none;
}

/* variables*/
:root {
  --background-color: #f8f8f8;
  --primary-color: #ed6300;
  --secondary-color: #f4aa03;
}

/* Header y logo */
header {
  background-color: var(--background-color);
  background-size: cover;
  padding: 10px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;                      /* Distribuye los elementos a los extremos */
  align-items: center;                                 /* Centra verticalmente los elementos */
}

/* Estilos para el logo */
.logo img {
  width: 120px;                                        /* Ajusta el tamaño del logo */
  height: auto;                                        /* Mantiene la proporción */
}
.footer .logo img {
  width: 80px;
  height: auto;
}

/*Estilos para la barra de navegación*/
.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;                                  /* Espaciado arriba/abajo y laterales */
}

/* Estilos para la lista dentro de la navegación  */
.navbar ul {
  display: flex;
  gap: 1.5rem;                                         /* Espacio entre elementos */
  list-style: none;                                    /* Elimina los estilos de lista */
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;                               /* Quita el subrayado de los enlaces */
  color: black;
}
/* Estilos para los enlaces */
.navbar ul li a {
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Body */
body {
  font-family: "Montserrat", serif;
}

.section-1 {
  position: relative;                                  /* Para que el contenido interno use posición absoluta */
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-1 img {
  width: 100%;                                         /* Ocupa todo el ancho de la pantalla */
  max-height: 50vh;                                    /* Se adapta al alto de la pantalla*/
}

.banner-content p {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  padding-top: 2rem;
  font-size: 1.125rem;
}
.section-1 button {
  font-size: 1.125rem;                                 /* Se adapta mejor a cambios de tamaño de fuente en el navegador */
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-color);
  color: white;
  border: none;                                        /* Quita el borde */
  border-radius: 5px;                                  /* Bordes redondeados */
  cursor: pointer;                                     /* Cursor de mano al pasar */
  font-weight: bold;                                   /* Texto en negrita */
  transition: background 0.3s ease;                    /* Suaviza el cambio de color */
  font-family: "Montserrat", serif;
  margin: 0 auto;
  width: auto;
  min-width: 160px;
  max-width: 250px;
  margin-top: 1.5rem;
}
.section-1 button:hover {
  background-color: var(--secondary-color);
}

/* Sección platos */
.platos img {
  max-width: 10rem;
  filter: drop-shadow(0px 10px 15px var(--secondary-color));
}
.plato-info button {
  font-size: 0.875rem;
  padding: 0.625em 0.625em;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  max-width: 150px;
}

/* Sección información */
.btn-info {
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", serif;
}
.informacion-imagen img {
  width: 100%;
  max-width: 400px;
  height: auto;                                        /* Mantiene la proporción */
  max-height: 300px;                                   /* Evita que se estiren demasiado */
  object-fit: contain;                                 /* Evita que se recorten */
}
.flecha {
  font-size: 30px;                                     /* Aumenta el tamaño de la flecha */
  color: var(--primary-color);                         /* Aplica el color definido */
  background: none;                                    /* Sin fondo */
  border: none;                                        /* Sin bordes */
  cursor: pointer;
}

/* Footer */
.footer-redes img {
  width: 30px;
  height: auto;
}

.footer-info ul li a:hover {
  color: var(--primary-color);
}
.footer {
  background-color: var(--background-color);
}

/* PÁGINA MENÚ */
.menu img {
  width: 50px;                                         /* Ajusta el tamaño según preferencia */
  height: auto;                                        /* Mantiene la proporción */
}
.menu ul li h3 {
  color: black;
  font-weight: 500;                                    /* Reduce el grosor de la fuente */
  transition: color 0.3s ease;                         /* Efecto de transición suave */
}

.menu ul li:hover h3 {
  color: var(--secondary-color);                       /* Color al pasar el cursor */
}

/* CARDS */
.btn-precio {
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}
.menu-container .menu-item img {
  width: 100%;
}

/* PÁGINA NOSOTROS */
/* Estilos para la sección de contacto */
.about-image img {
  width: 100%;
  max-width: 600px;
}
.ubicacion iframe {
  width: 100%;
  height: 40vh;
  min-height: 300px;
  max-height: 400px;
  border: 0;
}

/* PÁGINA OPINIONES */
.resenas-clientes p {
  font-style: italic;
}
.formulario-opinion button {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
.formulario-campos {
  width: 33%;                                          /* Limita el ancho al tercio de la página */
}

.formulario-opinion input,
.formulario-opinion textarea {
  width: 100%;                                         /* Se ajustan al contenedor */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;                                /* Hace que herede la fuente del contenedor */
  background-color: var(--background-color);
}

/* PÁGINA GALERÍA */
/* Estilos del input */
.input-correo {
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Estilos del botón */
.btn-enviar {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1.125rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.eventos-grid .evento img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Media queries */
/* Header */
@media (max-width: 768px) {
  .logo img {
    width: 100px;                                      /* Reduce el tamaño del logo */
    height: auto;
  }

  .navbar ul {
    flex-direction: column;                            /* Hace el menú vertical */
    align-items: center;
  }

  .navbar ul li a {
    font-size: 1rem;                                   /* Reducimos el tamaño de la fuente */
  }

  .navbar {
    text-align: center;
  }

  /*banner*/
  .banner-content h1 {
    font-size: 1.25rem;                                /* Se reduce el tamaño */
  }

  .banner-content p {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  .banner-content button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
