/* selector universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* tamaño base del HTML para usar rem */
html {
  font-size: 16px;
}

/* Listas sin estilos */
ul {
  list-style: none;
}

/* variables*/
:root {
  --background-color: #f8f8f8;
  --primary-color: #ed6300;
  --secondary-color: #f4aa03;
}

/* Header y logo */
header {
  background-color: var(--background-color);
  background-size: cover;
  padding: 10px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;              /* Distribuye los elementos a los extremos */
  align-items: center;                         /* Centra verticalmente los elementos */
}

/* Estilos para el logo */
.logo img {
  width: 120px;                                /* Ajusta el tamaño del logo */
  height: auto;                                /* Mantiene la proporción */
}
.footer .logo img {
  width: 80px;
  height: auto;
}

/*Estilos para la barra de navegación*/
.navbar {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;                          /* Espaciado arriba/abajo y laterales */
}

/* Estilos para la lista dentro de la navegación*/
.navbar ul {
  display: flex;
  gap: 1.5rem;                                  /* Espacio entre elementos */
  list-style: none;                             /* Elimina los estilos de lista */
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;                        /* Quita el subrayado de los enlaces */
  color: black;
}
/* Estilos para los enlaces */
.navbar ul li a {
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Body */
body {
  font-family: "Montserrat", serif;
}

.section-1 {
  position: relative;                           /* Para que el contenido interno use posición absoluta */
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-1 img {
  width: 100%;                                /* Ocupa todo el ancho de la pantalla */
  max-height: 50vh;                           /* Se adapta al alto de la pantalla*/
}

.banner-content p {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  padding-top: 2rem;
  font-size: 1.125rem;
}
.section-1 button {
  font-size: 1.125rem;                         /* Se adapta mejor a cambios de tamaño de fuente en el navegador */
  padding: 0.625rem 1.25rem;
  background-color: var(--primary-color);
  color: white;
  border: none;                                /* Quita el borde */
  border-radius: 5px;                          /* Bordes redondeados */
  cursor: pointer;                             /* Cursor de mano al pasar */
  font-weight: bold;                           /* Texto en negrita */
  transition: background 0.3s ease;            /* Suaviza el cambio de color */
  font-family: "Montserrat", serif;
  margin: 0 auto;
  width: auto;
  min-width: 160px;
  max-width: 250px;
  margin-top: 1.5rem;
}
.section-1 button:hover {
  background-color: var(--secondary-color);
}

/* Sección platos */
.favoritos {
  text-align: center;
  padding: 3.75rem 1rem;                       /* Espaciado interno */
  margin-bottom: 3rem;                         /* Separación entre el texto y las tarjetas */
}

.favoritos .comida-titulo {
  font-size: 2rem;
  margin-bottom: 1rem;                         /* Espacio entre el título y el párrafo */
}

.favoritos p {
  font-size: 1.2rem;
  max-width: 75rem;
  margin: 0 auto 2rem;                         /* Centra el texto y da espacio inferior */
  line-height: 1.5;
  margin-bottom: 6rem;
}

.platos img {
  max-width: 10rem;
  filter: drop-shadow(0px 10px 15px var(--secondary-color));
}
.plato-info button {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem 1.2rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  max-width: 150px;
}

/* Contenedor de las cards de platos */

.platos {
  display: flex;
  justify-content: center;
  gap: 2vw;                                 /* Espacio entre tarjetas relativo al ancho de la pantalla */
  flex-wrap: wrap;                          /* Permite que las tarjetas bajen de línea si no caben */
  max-width: 90vw;                          /* El contenedor se ajusta al 90% del viewport */
  margin: auto;                             /* Centra el contenedor */
  position: relative;
}

/* cards individuales*/
.platos article {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(25% - 2vw);                    /* 4 tarjetas en una fila en pantallas grandes */
  min-width: 180px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: visible;
  padding: 5rem 1.5rem 2rem;
}
.platos article:hover {
  transform: translateY(-0.5rem);
}

.platos article img {
  width: 7rem;
  height: auto;
  position: absolute;
  top: -3.5rem;                              /* Hace que la imagen sobresalga */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;                                /* Asegura que la imagen esté sobre la tarjeta */
}

article img[alt="hamburguesa XL"] {
  top: -4rem;                                /* Subir más la imagen */
  width: 6rem;
}

.platos article h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.platos article p {
  margin-bottom: 0.8rem;
  font-size: 1rem; 
  max-width: 90%;                             /* Limitar ancho del texto */
  margin: 0 auto 1rem auto;                   /* Centrar y agregar espacio debajo */
  line-height: 1.5;
}

/* Ajuste de imagen */
.platos img {
  width: 8rem;                                /* Tamaño flexible */
  height: auto;
  margin-bottom: 1rem;
}

/* Sección información */
.informacion{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 50px 20px;
  position:relative;
}

.flecha {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  color: var(--primary-color);               /* Aplica el color definido */
}

.informacion-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;                           /* Esto evitará el desbordamiento */
}
.informacion-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  gap: 2.5rem;
}
.informacion-item.active {
  opacity: 1; 
  transform: scale(1); 
  position: relative;  
}
.informacion-texto {
  max-width: 31.25rem;
  color:black
  
}
.informacion-titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.125rem;
}

.informacion-texto p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;                              /* Espacio entre el texto y el botón */
}

.btn-info {
  font-size: 1rem;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", serif;
  cursor: pointer;
}

.informacion-imagen img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-left: -1px;                        /* Acerca la imagen al texto */
}

.informacion-imagen img {
  width: 100%;
  max-width: 400px;
  height: auto;                             /* Mantiene la proporción */
  max-height: 300px;                        /* Evita que se estiren demasiado */
  object-fit: contain;                      /* Evita que se recorten */
}


/* Footer */
.footer-redes img {
  width: 30px;
  height: auto;
}

.footer-info ul li a:hover {
  color: var(--primary-color);
}
.footer {
  background-color: var(--background-color);
  padding: 3rem 5rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;       /* 3 columnas */
  gap: 3rem;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
}

/* Primera columna: Logo y descripción */
.footer-logo {
  display: flex;
  gap: 1rem;                                    /* Espacio entre el logo y el texto */
  flex-grow: 1;
}

.footer-logo img {
  width: 6.25rem;                               /* Ajusta el tamaño del logo */
  height: auto;
}

.footer-logo p {
  font-size: 0.875rem;
  max-width: 500px;
  flex-grow: 1;
}

/* Redes sociales */
.footer-redes ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  align-items: center;
}

.footer-redes img {
  width: 2.1875rem;
  height: auto;
}
.footer-contacto address p {
  font-style: normal;
}

/* PÁGINA MENÚ */
.menu img {
  width: 50px;                              /* Ajusta el tamaño según preferencia */
  height: auto;                             /* Mantiene la proporción */
}
.menu ul li h3 {
  color: black;
  font-weight: 500;                         /* Reduce el grosor de la fuente */
  transition: color 0.3s ease;              /* Efecto de transición suave */
}

.menu ul li:hover h3 {
  color: var(--secondary-color);            /* Color al pasar el cursor */
}

/* CARDS */
.btn-precio {
  font-size: 1rem;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}
.menu-container .menu-item img {
  width: 100%;
}

/* PÁGINA NOSOTROS */
/* Estilos para la sección de contacto */
.about-image img {
  width: 100%;
  max-width: 600px;
}
.ubicacion iframe {
  width: 100%;
  height: 40vh;
  min-height: 300px;
  max-height: 400px;
  border: 0;
}

/* PÁGINA OPINIONES */
.resenas-clientes p {
  font-style: italic;
}
.formulario-opinion button {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
.formulario-campos {
  width: 33%;                                /* Limita el ancho al tercio de la página */
}

.formulario-opinion input,
.formulario-opinion textarea {
  width: 100%;                               /* Se ajustan al contenedor */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;                      /* Hace que herede la fuente del contenedor */
  background-color: var(--background-color);
}

/* PÁGINA GALERÍA */
/* Estilos del input */
.input-correo {
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Estilos del botón */
.btn-enviar {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1.125rem;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.eventos-grid .evento img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Media queries */
/* Header */

@media (max-width: 480px) {
  .logo img {
    width: 100px;                         /* Reduce el tamaño del logo */
    height: auto;
  }
    html {
      font-size: 14px;                    /* Reduce el tamaño base */
    }

  .navbar ul {
    flex-direction: column;               /* Hace el menú vertical */
    align-items: center;
  }

  .navbar ul li a {
    font-size: 1rem;                       /* Reducimos el tamaño de la fuente */
  }

  .navbar {
    text-align: center;
  }

  /*banner*/
  .banner-content h1 {
    font-size: 1.25rem;                     /* Se reduce el tamaño */
  }

  .banner-content p {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
  }

  .banner-content button {
    font-size: 0.875rem;
    padding: 0.5rem 0.875rem;
  }

  /*sección platos favoritos*/
  .platos article {
    width: 70%;                              /* Ajusta el tamaño del ancho de la tc */
    padding: 1rem;
    min-height: 220px;
  }

  .favoritos .comida-titulo {
    font-size: 1.4rem;
  }

  .favoritos p {
    font-size: 14px;
  }

  .platos {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  .platos article img {
    top: -55px;
  }

  article img[alt="hamburguesa XL"] {
    top: -4rem;                               /* Ajuste menor solo en mobile */
    width: 5rem;                              /* Reducir un poco en mobile */
  }

  .platos article h3 {
    margin-top: 2rem;
  }

  .platos article p {
    margin-top: 1rem;                         /* Espacia el texto */
    font-size: 0.9rem;
  }

  .platos article .plato-info {
    margin-top: 1rem;                          /* Baja el botón */
  }

  .platos article .plato-info button {
    margin-top: 1rem;                          /* Baja el botón */
    font-size: 0.875rem;
  }

  /*Informacion*/
  .informacion {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .informacion-item {
    flex-direction: column;
    align-items: center;
  }
  .informacion-texto {
    max-width: 90%;
    order: 1;
  }
  .flecha {
    order: 0;
    position: relative;
    top: 0;
    display: inline-block;
    font-size: 24px;
    margin: 10px 0;
  }










  
  /* Footer*/
  .footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer-logo {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo img {
    width: 5rem;                               /* Ajusta el tamaño del logo */
  }

  .footer-logo p {
    max-width: 90%;
  }

  .footer-contacto,
  .footer-info,
  .footer-redes {
    width: 100%;
  }

  .footer-redes ul {
    justify-content: center;
  }

}
