/* selector universal */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bs-body-font-family: "Montserrat", sans-serif !important;
}

/* Listas sin estilos */
ul {
  list-style: none;
}

/* variables*/
:root {
  --background-color: #f8f8f8;
  --primary-color: #ed6300;
  --secondary-color: #f4aa03;
}

/* Navbar */
.navbar ul li a {
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Página Galería */
/* Input de correo */
.suscripcion .form-control {
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.suscripcion .form-control:focus {
  border-color: var(
    --secondary-color
  ); /* Efecto en el input cuando está enfocado */
  box-shadow: 0 0 5px rgba(244, 170, 3, 0.5);
}
/* Botón de enviar */
.suscripcion .btn-secondary {
  background-color: var(--primary-color) !important;
  border: none;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}
/* Hover en el botón */
.suscripcion .btn-secondary:hover,
.suscripcion .btn-secondary:focus,
.suscripcion .btn-secondary:active {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: white !important;
  box-shadow: none !important;
}
.suscripcion {
  margin-bottom: 6rem;
}
.text-muted {
  margin-bottom: 2rem;
}

/* Página Nosotros */
/*Ajuste del espacio mapa*/
.ubicacion {
  margin-bottom: 80px;
}
/*Ajuste del espacio ubicación*/
.ubicacion {
  margin-top: -40px;
}

/*Página blog*/
.resena-imgen {
  max-width: 120px;
  height: auto;
}
.opiniones-clientes {
  padding-bottom: 80px;
}
.btn-custom {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: white !important;
  font-weight: bold !important;
}
.btn-custom:hover {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
}

/*Página menú*/
/*Tab Menú*/
.menu h2 {
  font-weight: 600 !important;
}
.menu-icons {
  gap: 20px; /* Espacio entre iconos */
  padding: 10px 0;
}
.menu-img {
  max-width: 100px; /* Tamaño base */
  height: auto;
}
.menu {
  padding-top: 40px; /* Espacio entre el header y el título */
}
.menu h2 {
  margin-bottom: 30px; /* Espacio entre el título y las opciones del menú */
}
.menu-icons h4 {
  font-weight: 550 !important;
  transition: color 0.3s ease, transform 0.3s ease;
}
.menu-icons h4:hover {
  color: var(--primary-color);
  transform: scale(1.1); /* Aumentar ligeramente el tamaño de los icono */
}
/*Opciones del menú*/
.nav-tabs .nav-link {
  color: black !important;
  font-size: 18px;
  padding: 12px 24px;
}

.nav-tabs .nav-link.active {
  color: var(
    --primary-color
  ) !important; /* Cambia el color del texto cuando está activo */
  font: weight 200px;
}

.nav-item {
  margin-right: 0px; /* Separación entre los elementos del menú */
}
/* Estilos para el menú de pestañas */
.nav-tabs {
  flex-wrap: nowrap; /* Evita que los elementos se vayan a la siguiente línea */
  white-space: nowrap; /* Evita que los textos se dividan en varias líneas */
}
/* Estilo personalizado para los botones de precios */
.btn-precio {
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  padding: 6px 8px !important;
  border-radius: 5px;
  border: none;
}

/*Página de inicio*/
/*Contenedor del banner*/
.banner-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/*Imagen del banner*/
.banner-img {
  width: 100%;
  height: 100%;
  min-height: 250px; /*  Evita que la imagen se corte demasiado en móviles */
  object-fit: cover; /* Ajusta sin distorsionar */
}
/*Contenido del banner*/
.banner-content {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
  max-width: 600px;
}
.btn-explorar-comida {
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.btn-explorar-comida:hover {
  background-color: var(--secondary-color) !important;
  color: white !important;
}
.banner-content p {
  font-weight: 500 !important;
}

/*cards inicio*/
.card.shadow-sm {
  border: none;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(225, 189, 122, 0.3) !important; /* Sombra más oscura */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  background: white;
}
.card.shadow-sm:hover {
  transform: translateY(-5px); /* Efecto de elevación */
  box-shadow: 0px 10px 20px rgba(247, 216, 158, 0.5) !important; /* Sombra más intensa */
}
.bton-precio-card {
  color: white !important;
  font-weight: 600 !important;
  background-color: var(--primary-color) !important;
  border: none;
}
h2.fw-bold {
  margin-bottom: 30px !important;
}
p.mb-4 {
  margin-top: 20px !important;
}

/**Carrusel inicio**/
.informacion {
  padding: 50px 18%;
}
.informacion .carousel-item {
  padding: 20px;
}
.informacion-titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.informacion p {
  max-width: 500px; /* Limita el ancho del texto */
  margin-bottom: 20px;
}
.informacion .btn-info {
  background-color: #33b5e5;
  color: white;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 10px;
}
.carousel-control-prev {
  left: -130px !important; /* Ajusta la posición hacia la izquierda */
}
.carousel-control-next {
  right: -130px !important; /* Ajusta la posición hacia la derecha */
}
.carousel-item img {
  max-width: 80%; /* Reduce el tamaño de la imagen */
  height: auto; /* Mantiene la proporción */
  display: block;
  margin: 0 auto; /* Centra la imagen */
}
.btn-info {
  background-color: var(--primary-color) !important;
  color: white;
  font-weight: 500 !important;
  border: none !important;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-info:hover {
  background-color: var(--secondary-color) !important;
  color: white !important;
}
/*ajuste de salto de flechas en mobile*/
.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

/* Página Blog opiniones */
.resenas-clientes p {
  font-style: italic;
}
.formulario-opinion button {
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
.formulario-campos {
  width: 33%; /* Limita el ancho al tercio de la página */
}

.formulario-opinion input,
.formulario-opinion textarea {
  width: 100%; /* Se ajusta al contenedor */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit; /* Hace que herede la fuente del contenedor */
  background-color: var(--background-color);
}
/*Footer*/
/* ajuste distancia pag inicio */
.home footer {
  margin-top: -220px !important;
}

/*Página de inicio*/
/* Ajustes banner */
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.img-container::before {
  content: "";
  position: absolute;
  width: 120px; /* Ajusta el tamaño según la imagen */
  height: 120px;
  background: rgba(255, 165, 0, 0.4); /* Color del resplandor */
  border-radius: 50%;
  filter: blur(30px); /* Efecto difuminado */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Detrás de la imagen */
}

.img-container img {
  position: relative;
  z-index: 2;
}

/*página nosotros*/
.ubicacion {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.map-iframe {
  width: 100%;
  height: 400px;
  border: none;
  margin: 0;
}

/*página galería*/
.card-img-wrapper {
  width: 100%; /* Hace que la imagen ocupe todo el ancho de la tarjeta */
  overflow: hidden; /* Evita que la imagen se desborde */
}

.card-img {
  width: 100% !important;
  height: auto; /* Mantiene las proporciones de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.card-body {
  padding: 20px !important;
}

/*Navbar*/
@media (max-width: 768px) {
  .navbar-collapse.show .navbar-nav {
    display: flex !important; /* Reducción del espacio del nav cuando el menú hamburguesa esté activo */
    flex-direction: column !important; /* Asegura disposición vertical */
    gap: 5px !important; /* Ajusta el espacio entre los elementos */
    justify-content: center !important;
    align-items: center !important;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    display: flex;
    gap: 50px; /* Aumenta el espacio entre los elementos del menú */
  }
}

/*Página menú*/
/*tab*/
@media (max-width: 768px) {
  .menu-icons {
    gap: 10px;
  }

  .menu-img {
    max-width: 40px !important;
  }

  .menu-icons h4 {
    font-size: 0.9rem;
  }
}

/*cards de menú*/
@media (max-width: 768px) {
  .menu-item {
    flex-direction: column;
    text-align: center;
  }

  .menu-item .col-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .menu-item .col-9 {
    width: 100%;
  }
}

/* nav del menú*/
@media (max-width: 768px) {
  .nav-tabs .nav-link {
    font-size: 14px; /* Ajuste del tamaño de fuente nav */
    padding: 8px 12px;
  }

  .nav-item {
    margin-right: 5px; /* Reduce la separación entre elementos */
  }

  .nav-tabs .nav-link img {
    display: none; /* Ocultar los iconos en pantallas pequeñas si no caben */
  }
}

/*ajuste inf cards productos*/
@media (max-width: 768px) {
  h5 {
    font-size: 1.1rem !important;
  }

  p {
    font-size: 0.875rem;
  }
  .btn-precio {
    font-size: 0.875rem;
    padding: 8px 12px;
  }
  .menu-item img {
    max-width: 130px !important;
    height: auto !important;
  }
}

/* Ajustes banner */
@media (max-width: 768px) {
  .banner-container {
    height: 200px;
  }
  .banner-content {
    width: 80%;
    max-width: 400px;
    left: 50%;
  }
  h1,
  h2 {
    font-size: 1rem !important;
  }
  .banner-container p {
    font-size: 0.9rem !important;
    white-space: normal !important; /* Permite que el texto se divida en varias líneas */
    overflow: visible !important; /* Evita que el texto se corte */
    display: block !important; /* Asegura que se mantenga en su contenedor */
    text-align: center;
  }
  .banner-container button {
    font-size: 0.9rem !important;
    padding: 6px 12px !important;
  }
}

/* ajuste para tc clasica y xl */
@media (max-width: 768px) {
  .hamburguesa-clasica {
    min-height: 325px; /* Ajusta la altura*/
  }
  .hamburguesa-xl {
    min-height: 110px !important;
  }
  .hamburguesa-clasica .card-img-top {
    max-height: 200px;
  }
  .hamburguesa-xl .card-img-top {
    max-height: 0px !important;
  }
}

/*imagenes de cards index*/
@media (max-width: 768px) {
  .card-img-top {
    max-width: 150px !important; /* Ajusta el tamaño máximo */
    height: auto !important; /* Mantiene la proporción */
    margin: 0 auto; /* Centra la imagen */
  }
}

@media (max-width: 768px) {
  .card-responsive {
    max-width: 80% !important; /* ancho de la card*/
    margin: 0 auto;
  }
}

/* Sección de información*/
/*control flechas información index*/
@media (max-width: 768px) {
  .carousel-control-prev {
    left: -35px !important;
  }

  .carousel-control-next {
    right: -35px !important;
  }
}
/* control de tamaño de imagenes de información*/
@media (max-width: 768px) {
  .carousel-item img {
    max-width: 100%;
  }
}
/*alineación flechas en mobile*/
@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%; /* Alinea verticalmente al centro */
    transform: translateY(-27%); /* Centra exactamente en la imagen */
  }
}

/* Para desktop - Mantener las flechas a la mitad de la imagen */
@media (min-width: 769px) {
  .carousel-item {
    flex-direction: row; /* Restaura la disposición original */
  }
  /*Ajuste de flechas en desktop*/
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-20%);
  }
}
/*ajuste boton mas informacion*/
@media (max-width: 768px) {
  .btn-info {
    font-size: 14px !important;
    padding: 6px 12px !important;
    font-weight: 500 !important;
  }
}
/*titulo mas informacion*/
@media (max-width: 768px) {
  .informacion-titulo {
    font-size: 20px !important;
  }
}

/*ajuste distancia del footer inicio*/
@media (max-width: 768px) {
  .home footer {
    margin-top: 100px !important;
    padding-top: 20px !important;
  }
}

/*ajuste transición menú hamburguesa*/
@media (max-width: 768px) {
  .navbar-collapse {
    transform: translateX(0%) !important;
    transition: none !important;
  }

  .navbar-nav {
    margin: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*ajuste letra nav*/
@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 16px;
  }
}
/*ajustes de titulos*/
@media (max-width: 768px) {
  .favoritos-titulo {
    font-size: 18px !important;
  }
}
/*nosotros*/
@media (max-width: 768px) {
  .nosotros-titulo {
    font-size: 20px !important;
    font-weight: 600 !important;
  }
}

@media (max-width: 768px) {
  /* Títulos ("Ubícanos" y "Disponibles para ti") */
  h3 {
    font-size: 20px !important;
  }

  /* Títulos ("Dirección", "Horario", "Teléfonos") */
  h4 {
    font-size: 18px !important;
  }
}

/* Título de "Reseñas de nuestros clientes" */
@media (max-width: 768px) {
  .resenas-clientes h1 {
    font-size: 20px !important;
    font-weight: 600 !important;
  }
  .titulo-opinion h2 {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
}
/* Ajuste para los nombres de usuarios*/
@media (max-width: 768px) {
  .resenas-clientes h3 {
    font-size: 18px !important;
  }
}

/* cambios formulario*/
@media (max-width: 768px) {
  /* Ajuste el tamaño de la fuente en etiquetas, campos de texto y el botón */
  .col-md-6 form label,
  .col-md-6 form .form-control,
  .col-md-6 form button {
    font-size: 14px !important;
  }

  /* Ajuste en los placeholders en los campos de texto */
  .col-md-6 form .form-control::placeholder {
    font-size: 14px !important;
  }

  /* Ajustes del mapa*/
  @media (max-width: 768px) {
    .map-iframe {
      height: 300px; /* Ajuste de altura */
    }
  }
}
/* ajuste distancia entre formulario e imagen blog*/
@media (max-width: 768px) {
  .img-comentarios {
    margin-bottom: -50px !important;
  }
}
/*ajuste tamaños de tc comentarios*/
@media (max-width: 768px) {
  .resena {
    padding: 1rem;
    font-size: 14px;
  }

  .resena-imgen {
    width: 100px;
    height: 80px; /* Mantiene la proporción */
  }
}
/*ajuste text opinion*/
@media (max-width: 768px) {
  .titulo-opinion {
    padding: 0 1.8rem !important;
  }
  /* ajuste suscripcion*/
  .suscripcion {
    padding: 0 1.8rem !important;
    width: 100%;
    margin: 0 auto;
  }
}

/* Ajustes cards de galeria */
@media (max-width: 768px) {
  .container h1 {
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .tarjeta-evento {
    padding: 20px !important;
  }

  .card {
    margin: 0 !important;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .card-body {
    padding: 15px !important;
    padding-bottom: 5px !important;
    height: 130px !important;
  }

  .card-img-wrapper {
    max-width: 100%;
  }

  .card-img {
    height: 330px;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .card-title {
    font-size: 1.1rem;
  }

  .text-muted {
    font-size: 0.9rem;
  }
  input::placeholder {
    font-size: 14px !important;
  }

  .btn {
    font-size: 14px !important;
  }
  .form-control {
    width: 100% !important;
    margin: 0 auto;
  }
}

/*footer*/
@media (max-width: 768px) {
  .texto-resena {
    margin: 20px;
  }
}
